/*
** = App
** - This is app.scss file.
** - Import all other partial sass files here.
*/

// - ABSTRACT
@import "abstract/variables";
@import "abstract/functions";
@import "abstract/mixins";

// - BASE
@import "base/base";
@import "base/animations";
@import "base/typography";
@import "base/utility";


// - COMPONENTS
@import 'components/navigation';
@import 'components/_header.scss';
@import 'components/logo';
@import 'components/searchbar';
@import 'components/navbuttons';
@import 'components/slider';
@import 'components/productsgrid';
@import 'components/product';
@import 'components/productsincategory';
@import 'components/tilesgrid';

@import 'components/admin/controlpanel';
@import 'components/admin/productpanel';

@import 'components/elements/table.scss';
@import 'components/elements/button.scss';
@import 'components/elements/lightbox.scss';


//APP 
.App {
    text-align: center;
    
    &-header {
      background-color: $colorThemePrimary;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      color: white;
    }
    
    &-link {
      color: #000;
    }
    
  }
  
  

